html {
  font-size: 62.5%;
}

h1 {
  font-size: 3rem;
}
p {
  font-size: 1.8rem
}
.serif {
  font-family: 'Times New Roman', Times, serif;
}
.sans-serif {
  font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif
}
.monospace {
  font-family: 'Courier New', Courier, monospace;
}